<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.examsystem.mapper.AnswerMapper">
<insert id="addAnswer" parameterType="java.util.List">
    INSERT INTO t_answer (a_id,p_id,o_id)
    VALUES
    <foreach collection="list" item="answer" separator=",">

       <!-- <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aswer.aId != null">a_id,</if>
            <if test="aswer.pId != null">p_id,</if>
            <if test="aswer.oId != null">o_id,</if>
        </trim>-->

        (#{answer.aId},
        #{answer.pId},
        #{answer.oId})
        <!--<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aswer.aId != null">#{aswer.aId},</if>
            <if test="aswer.pId != null">#{aswer.pId},</if>
            <if test="aswer.oId != null">#{aswer.oId},</if>
        </trim>-->
    </foreach>

</insert>
   <!-- <select id="findAll" resultMap="queRM">
        SELECT * FROM t_exam;
    </select>
    <resultMap id="queRM" type="cn.tedu.examsystem.pojo.Question" autoMapping="true">
        <id column="e_id" property="eId"/>
    </resultMap>-->
</mapper>